* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1e195f;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

nav {
    background-color: #34495e;
    color: white;
    padding: 20px;
    width: 200px;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #3498db;
}

section {
    background-color: #ecf0f1;
    padding: 30px;
    flex: 1;
}

footer {
    background-color: #33194a;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}